* {
    border: none;
    border-radius: 0;
    font-family: OCR A Std, monospace;
    font-size: 12px;
    font-weight: 600;
    min-height: 0;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.5);
    border-bottom: 0px solid rgba(100, 114, 125, 0.5);
    color: white;
}   

#battery {
	padding: 0 10px;
	background-color: rgba(0, 255, 0, 0.3);
	color: Black;
}   
#battery.warning {
	background-color: rgba(255, 69, 0, 0.3);
}
#battery.critical {
	background-color: rgba(255, 0, 0, 0.3);
}

#workspaces .taskbar-window.active {
    background-color: rgba(170, 147, 96, 0.15);
    font-size: 20px;
    color: #ffffff;
}

#workspaces button.active {

    background-color: rgba(0, 0, 0, 0.15);
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
}
